@{
    ViewData["Title"] = "About";
}

<div class="text-center mt-5">
    <h1 class="display-6 mb-4">About</h1>
    <p class>This project is part of the WPH Digital Pte Ltd Bootcamp, focusing on building a comprehensive Todo List application using ASP.NET Core. The application allows users to create, update, delete, and manage their tasks efficiently. Leveraging modern web development practices and tools, this project aims to provide a robust and user-friendly task management solution. Through this project, students gain hands-on experience with ASP.NET Core, MVC architecture, and responsive web design, preparing them for real-world web development challenges.</p>
</div>

