@{
    ViewData["Title"] = "Home";
}

<div class="text-center mt-3">
    <h1 class="display-6 mb-3">Welcome</h1>
    <p>Welcome to the Todo List application, a project developed for the WPH Digital Pte Ltd Bootcamp. This application showcases the power and versatility of ASP.NET Core in building modern web applications. Explore the features of this Todo List app, where you can create, update, delete, and manage your tasks with ease. For more information on building web apps with ASP.NET Core, visit <a href="https://learn.microsoft.com/aspnet/core">Microsoft's official documentation</a>.</p>
</div>

