@{
    ViewData["Title"] = "Home";
}

<div class="text-center mt-5">
    <h1 class="display-6 mb-4">Welcome to WPH Bootcamp</h1>
    <p class="text-center">Welcome to the Todo List application, a project developed for the WPH Digital Pte Ltd Bootcamp.</p>
</div>

